# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# Streamlit
.streamlit/secrets.toml

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment
.env

# Python cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/
